.reset-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}



.reset-card {
  width: 100%;
  max-width: 480px;
  background: white;
  padding: 40px;
  border-radius: 28px;
  border: 1px solid #eee;
  box-shadow: 0 12px 35px rgba(123, 47, 247, .08);
  position: relative;
  overflow: hidden;
}



.reset-card::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background:
    linear-gradient(90deg, #7b2ff7, #c778fb);
}



.reset-title {
  font-size: 30px;
  color: #6a0dad;
  margin-bottom: 15px;
}



.reset-description {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 25px;
}



.reset-input {
  height: 54px;

  border-radius: 16px;

  border: 1px solid #e5d8ff;

  padding: 0 15px;

  transition: .25s;
}


.reset-input:focus {
  border-color: #8c52ff;

  box-shadow:
    0 0 0 4px rgba(140, 82, 255, .12);
}



.btn-reset {
  height: 54px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(to right, #7b2ff7, #c778fb);
  color: white;
  transition: .25s;
  box-shadow: 0 10px 25px rgba(123, 47, 247, .18);
}


.btn-reset:hover {
  transform: translateY(-2px);
  background: linear-gradient(to right, #6c18f3, #b155ed);
  color: white;

}



@media(max-width:576px) {

  .reset-card {
    padding: 30px 20px;
  }

  .reset-title {
    font-size: 26px;
  }

}