.logo-navbar {
    height: 50px;
    width: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.cart-icon:hover {
    color: #ddd;
}

.cart-icon {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.search-bar {
    width: 40%;
}

.navbar-merchnova {
    background: linear-gradient(90deg, #6a0dad, #8a2be2);
}

.user-avatar-btn {
    background: transparent;
    border: none;
}

.user-avatar-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.size-qty {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}