/* ------------ NAVBAR PRINCIPAL ------------ */
.logo-navbar {
    height: 50px;
    width: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.cart-icon:hover {
    color: #ddd;
}

.cart-icon {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.search-bar {
    width: 40%;
}

.navbar-merchnova {
    background: linear-gradient(90deg, #760fbe, #b36ce2);
}

.user-avatar-btn {
    background: transparent;
    border: none;
}

.user-avatar-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.size-qty {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ------------ NAVBAR SECUNDARIO ------------ */
.subnav-item:hover {
    opacity: 0.8;
}


.subnav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.subnav-item:hover::after {
    width: 100%;
}

.subnav-item.active::after {
    width: 100%;
}

/* CONTENEDOR BASE */
.subnav {
    width: 100%;
    /* background: linear-gradient(100deg, #760fbe, #b36ce2); */
    background: linear-gradient(to right, #750fbedb, #b36ce2db);
    padding: 10px 0;
}

.subnav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.subnav-item {
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
}


.menu-panel {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    padding: 20px;
    color: white;
    background: linear-gradient(to right, #7b2ff7, #c778fb);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 100;
}




.has-dropdown:hover .menu-panel {
    opacity: 1;
    visibility: visible;
}


.grid-panel {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 15px;
}


.category {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.category:hover {
    background:linear-gradient(to right,#6c18f3,#b155ed);
	color: white;
    transform: translateY(-2px);
}