.form-select.custom-input {
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.form-select.custom-input:focus {
    border-color: #7b2ff7;
    box-shadow: 0 0 0 0.25rem rgba(123, 47, 247, 0.1);
}

.sidebar-link-danger {
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar-link-danger:hover {
    background-color: #fff0f0;
    padding-left: 25px;
}

.sticky-top {
    z-index: 1020;
}

.opacity {
    opacity: 0.5;
}

.btn-save {
    background: linear-gradient(to right, #7b2ff7, #c778fb);
    color: white;
}

.btn-save:hover {
    background:linear-gradient(to right,#6c18f3,#b155ed);
	color: white;
}

.btn-save-img {
    background: linear-gradient(to right, #7b2ff7, #c778fb);
    color: white;
    opacity: 0.7;
}

.btn-cancel {
    border: 1px solid #6a0dad;
    color: #6a0dad;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.2s;
}

.img-avatar {
    width: 50%;
    height: 50%;

    object-fit: cover;
    object-position: center;

    display: block;
}
