.logo {
    font-weight: bold;
    font-size: 28px;
    color: #7b2ff7;
}


/* PARTE PRINCIPAL */
.hero {
    height: 600px;
    /* background: linear-gradient(135deg, #7b2ff7, #c778fb); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/banner/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-title {
    color: #7b2ff7;
}

.text-paragraph {
    color: #c778fb;
}

.category-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.05);
}

.product-card {
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.btn-products {
    background:linear-gradient(to right,#7b2ff7,#c778fb);
    color: white;
}

.btn-products:hover {
    background:linear-gradient(to right,#6c18f3,#b155ed);
    color: white;
}

.promo {
    background: #7b2ff7;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}