.input-password {
    position: relative;
}


.input-password input {
    padding-right: 40px;
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: 0.2s;
}

.eye-icon:hover {
    color: #6a0dad;
}